<!DOCTYPE html>
<html lang="en">
<head>
<title>A.O. Website</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
</head>

  <body>
  
    <header>
      <nav>
        <ul>
          <a href= "https://www.instagram.com/invites/contact/?i=nx8ca27piutx&utm_content=ph91tpg"><div style = "font-size: 20px">Instagram</a>
          <a href = "#venmo" style = "font-size: 20px">Giftcards </a>
          <a href = "#contact" style = "font-size: 20px">ScheduleAppointment</a>
          <h1 style = "font-family: Playfair Display;font-size: 50px;">A.O. SPRAY TANS</h1>
          <p style= "font-size: -500px"><p style = "font-size: 30px">"On the go, and need a quick glow?"</p>
        </div>
        </ul>
      </nav>
<!-- <img id="aoprofile" src="images/AOpic.jpg" alt="profile"> -->
    </header>
    
    <main>
      <section id="hero">
        <div class="section-inner">
          <h2 >Basic Spray Tan</h2>
          <p>The Basic Tan is our most popular offer. It lasts approximately two weeks, gives a natural glow, and smells like fresh coconut!</p>
          <!-- <img src="https://www.sbs.com.au/topics/sites/sbs.com.au.topics/files/styles/full/public/gettyimages-1163483221.jpg?itok=99Wmb3KV&mtime=1607057530"class= "tan-image"> -->
          <img src="images/girlwalking_beach.jpg" class= "tan-image">
        </div>
      </section>
      <section id="contact">
        <div class="section-inner">
          <h2>Special Offers</h2>
          <p>Homecoming week: Basic tan- $25</p>
          <p>Bridal Special: Basic tan- $25</p>
          <p>First tan: Basic tan- $25</p>
          <br></br>
          <h3>Hours</h3>
          <p>Monday - Friday: 12pm to 8pm</p>
          <p>Saturday: 9am- 2pm</p>
          <br></br>
        </div>
        <div class="contactinfo">
          <img id="aoprofile" src="images/AOpic.jpg" alt="">
          <div class="details">
            <h4>Contact Information:</h4>
            <ul>
              <a href = "#">801-310-2624</a>
              <br></br>
              <a href = "#">A.O.tans@gmail.com</a>
              <br></br>
            </ul>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
